<!DOCTYPE html>
{% load static %}
<html lang="ru">
	<head>
		<meta charset="utf-8"/>
		<meta name="author" content="Цифровая Школа «El-School»"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Цифровая Школа «El-School»{% endblock title %}</title>
        {% include 'Base/links.html' %}
		{% block link %}{% endblock link %}
	</head>
    <body>
        <div id="main-wrapper">
			<div class="header header-transparent dark-text" id="header-main">
				{% include 'Base/header.html' %}
			</div>
			<div class="clearfix"></div>
			{% block content %}{% endblock content %}
			{% include 'Base/footer.html' %}
		</div>
		{% include 'Base/scripts.html' %}
		{% block script %}{% endblock script %}
	</body>
</html>